.App {
  /* text-align: center; */
  padding: 15% 30%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.color-blue { 
  color: blue
}
.color-lightblue { 
  color: lightseagreen;
  padding-right: 5px;
  
}
.color-pink { 
  color: lightcoral;
  padding-left: 5px;
}

.fs-18{
  font-size: 18px;
}

.float-left{
  float : left
}

.float-right{
  text-align: right;
  display: flex;
}

tr , td {
  width : 90%;
  padding: 2%;
}

th{
  border: solid black 1px;
  padding: 12px;
}

table{
  border: 1px solid black;
  width: 90%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
